<section id="landing_background" class="uk-section uk-inline">
    <div class="uk-container uk-container-expand" uk-height-viewport="expand: true">
        <div class="uk-overlay-primary uk-position-cover"></div>
        <div class="uk-overlay uk-position-bottom uk-light">
            <p class="uk-text-lead uk-text-bold">On-trip services for cab riders.</p>
            <p>We provide free micro services for city travelers.</p>
        </div>
    </div>
</section>
